.form {
    height: auto;
    width: 400px;
    gap: 30px;
    padding: 25px;
    border: 1px solid var(--darkGreyContainer);
    border-radius: 20px;
    overflow-y: auto;
}

.form h2 {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    color: var(--darkGreyText);
}

.form .inputList {
    width: 100% ;
    gap: 25px;
}

.formMess {
    text-align: center;
    color: gray;
}

