.modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0 0 0 0;
    background-color: white;
}

.modal .closeForm {
    position: absolute;
    top: 50px;
    right: 50px;
    color: gray;
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}